Repository teeesss/PlugItAll: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Basic universal checks (lightweight and useful)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Checkov – official hook, fixed rev to a real tag
  - repo: https://github.com/bridgecrewio/checkov
    rev: 3.2.266 # Valid tag (no "v" prefix)
    hooks:
      - id: checkov
        name: Checkov Security Scan
        args: [--quiet, --compact] # Optional: quieter output
        # files: \.(tf|yaml|yml|json|Dockerfile)$  # Uncomment to limit scanning

  # Gitleaks – secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        verbose: false

  # Prettier – code formatting (runs before ESLint)
  - repo: local
    hooks:
      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
        pass_filenames: true

  # ESLint – JavaScript/JSX linting (with auto-fix)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: true

      # PRE-PUSH TESTS DISABLED: WSL uses Linux node_modules but we install for Windows
      # To run tests before push, run: npm test -- --run
      # Then push manually after tests pass.
      # - id: npm-test
      #   name: Run Tests
      #   entry: npm test -- --run
      #   language: system
      #   stages: [push]
      #   pass_filenames: false
      #   always_run: true

fix: standardized transaction signs, fixed alternating colors, excluded credits from detection + 14 new tests
  TASKS.md
  issues.md
  plug-it-all-report.pdf
  src/components/TransactionExplorer.tsx
  src/utils/analyzer.ts
  src/utils/parser.ts
  tests/amount_sign.test.ts
  tests/baseline.json
  tests/parser.test.ts
Due: prettier, eslint

feat: implement Transaction Explorer Phase 2 (Manual Subscriptions)
  TASKS.md
  plug-it-all-report.pdf
  src/App.tsx
  src/components/SubscriptionCard.tsx
  src/components/TransactionExplorer.tsx
  src/utils/analyzer.ts
  src/utils/storage.ts
Due: prettier, eslint

feat: Transaction Explorer Phase 2 - Manual Subscription Toggle + UI Refinements
  PROJECT_STATUS.md
  TASKS.md
  src/App.tsx
  src/components/TransactionExplorer.tsx
  src/components/TransactionSearch.tsx
  tests/manual_subs_logic.test.ts
Due: prettier, eslint

feat: USAA PDF parsing + bank-specific routing + fixed manual sub tests
  .cursorrules
  OVERVIEW.md
  PROJECT_STATUS.md
  PROJECT_STATUS_SUMMARY.md
  QUICKSTART.md
  README.md
  TASKS.md
  diagnostic_citi.txt
  diagnostic_citi_p2.txt
  diagnostic_citi_p3.txt
  diagnostic_headers.txt
  diagnostic_multi.txt
  diagnostic_output.txt
  diagnostic_output_2.txt
  docs/CLEANUP_SUMMARY.md
  docs/DOCUMENTATION_GUIDE.md
  docs/FINAL_CONSOLIDATION_SUMMARY.md
  docs/TASK-071-IMPLEMENTATION.md
  docs/archive/PDF-Parser-Possible.md
  docs/archive/README.md
  docs/archive/project_overview.md
  issues.md
  plug-it-all-report.pdf
  project_overview.json
  result_multi.txt
  src/components/SettingsModal.tsx
  src/utils/parser.ts
  src/utils/storage.ts
  tests/citi_headers.test.ts
  tests/export_import.test.ts
  tests/setup.ts
  tests/usaa_content.test.ts
  tests/usaa_headers.test.ts
  tests/usaa_multi_test.test.ts
  tests/usaa_pdf_test.test.ts
Due: prettier, eslint

chore: cleanup diagnostic files
  diagnostic_citi.txt
  diagnostic_citi_p2.txt
  diagnostic_citi_p3.txt
  diagnostic_headers.txt
  diagnostic_multi.txt
  diagnostic_output.txt
  diagnostic_output_2.txt
  result_multi.txt
Due: none

release: v1.1.4 final docs and domain cleanup
  .cursorrules
  PROJECT_STATUS_SUMMARY.md
  QUICKSTART.md
  README.md
  plug-it-all-report.pdf
  src/App.tsx
Due: prettier, eslint

chore: update rules for node termination and mandatory prod verification
  .cursorrules
  PROJECT_STATUS_SUMMARY.md
Due: prettier

docs: update project status, issues, and rules for v1.1.4 (USAA fix + UI polish)
  .cursorrules
  PROJECT_STATUS_SUMMARY.md
  TASKS.md
  issues.md
  src/App.tsx
  src/utils/parser.ts
  tests/parser_robustness.test.ts
Due: prettier, eslint

feat: Add Etrade PDF parser & cleanup lint
  .gitignore
  plug-it-all-report.pdf
  src/utils/parser.ts
  tests/pdf_parser.test.ts
Due: prettier, eslint

docs: Update TASKS.md with Etrade support
  TASKS.md
Due: prettier

docs: Cleanup project overview and archive legacy metadata
  OVERVIEW.md
  docs/DOCUMENTATION_GUIDE.md
  docs/archive/project_overview_legacy.json
Due: prettier

docs: Project update for Etrade support and cleanup
  .cursorrules
  PROJECT_STATUS.md
  PROJECT_STATUS_SUMMARY.md
  README.md
Due: prettier

feat: Enhanced normalizer (TASK-006) - Phone/Prefix stripping & Regression fixes
  TASKS.md
  plug-it-all-report.pdf
  src/utils/normalizer.ts
  tests/normalizer_improvements.test.ts
Due: prettier, eslint

feat: Enhanced pending marker handling (TASK-007)
  TASKS.md
  issues.md
  plug-it-all-report.pdf
  tests/pending_markers.test.ts
Due: prettier, eslint

feat: Auto-clear upload list after processing (TASK-076)
  TASKS.md
  src/App.tsx
Due: prettier, eslint

docs: Update issues log for TASK-076
  issues.md
Due: prettier

docs: Initial version bump to v1.1.5a
  .cursorrules
  PROJECT_STATUS_SUMMARY.md
  src/App.tsx
Due: prettier, eslint

feat: Added Toast feedback (TASK-077) & Tracked TASK-079
  TASKS.md
  src/App.tsx
  src/components/Toast.tsx
Due: prettier, eslint

fix: Updated 28 logo paths in subs.json
  src/data/subs.json
Due: prettier

fix: Clear Data logic info & Header Text Cleanup (TASK-080, TASK-081)
  TASKS.md
  scripts/fix_logo_paths.cjs
  scripts/verify_logos.cjs
  src/App.tsx
Due: prettier, eslint

fix: Restore always-visible Privacy Engine text in Header
  src/App.tsx
Due: prettier, eslint

feat: Implement new branding (logo, favicon)
  index.html
  public/favicon.png
  public/logo.png
  src/App.tsx
Due: prettier, eslint

style: Increase logo size and use icon-only version
  public/logo_icon.png
  src/App.tsx
Due: prettier, eslint

fix: Revert to correct logo version (V3 Glowing Shield)
  public/logo_icon.png
Due: none

style: Increase logo size to 96px (approx +20%)
  src/App.tsx
Due: prettier, eslint

style: Update logo scale and title gradient
  src/App.tsx
Due: prettier, eslint

docs: Update docs following Brand Overhaul (v1.1.6-BRANDING)
  PROJECT_STATUS_SUMMARY.md
  TASKS.md
  issues.md
Due: prettier

fix(matcher): Deduplicate DB entries and robustify logo matching logic (TASK-004)
  src/data/subs.json
  src/utils/matcher.ts
Due: prettier, eslint

style: Standardize Privacy Banner styling (TASK-079)
  src/App.tsx
  src/components/PrivacyBanner.tsx
Due: prettier, eslint

docs: Update docs following Privacy Banner & Logic fixes (v1.1.6-BRANDING)
  TASKS.md
Due: prettier

feat(core): Complete P1 Tasks (CSV Scoring, Matcher Robustness, Export/Import) with 100% Tests
  issues.md
  src/utils/parser.ts
  tests/matcher_robustness.test.ts
  tests/parser_automagic.test.ts
Due: prettier, eslint

docs: Mark TASK-003 and TASK-071 as complete
  TASKS.md
Due: prettier

feat(normalizer): Complete TASK-008 & TASK-009 (City/State Stripping + Merchant Aliases)
  TASKS.md
  issues.md
  plug-it-all-report.pdf
  public/logo_concept_flat_p.png
  public/logo_concept_plug_shield_glowing.png
  public/logo_concept_v1.png
  scripts/analyze_keywords.cjs
  scripts/audit_duplicates.cjs
  scripts/cleanup_subs.cjs
  scripts/debug_matching.cjs
  scripts/enhance_keywords.cjs
  src/data/subs.json
  src/utils/normalizer.ts
  tests/city_state.test.ts
  tests/merchant_aliases.test.ts
  tests/normalizer_improvements.test.ts
Due: prettier, eslint

docs: Mark Phase 1 & 2 as complete in roadmap
  ROADMAP_TRANSACTION_EXPLORER.md
Due: prettier

feat(ui): Complete TASK-078 (Highlight New Subscriptions with pulse animation)
  TASKS.md
  issues.md
  src/App.tsx
  src/components/SubscriptionCard.tsx
  src/index.css
Due: prettier, eslint

refine(ui): Change new subscription highlight from red to green
  src/components/SubscriptionCard.tsx
Due: prettier, eslint

fix(ui): TASK-078 timing fix + mandatory documentation rules
  .cursorrules
  TASKS.md
  issues.md
  src/components/SubscriptionCard.tsx
  tests/highlight_animation.test.tsx
Due: prettier, eslint

fix(ui): TASK-078 Fix #2 - Move timer to useEffect
  issues.md
  src/App.tsx
Due: prettier, eslint

refine(ui): Change highlight duration from 5s to 7s
  TASKS.md
  issues.md
  src/App.tsx
Due: prettier, eslint

feat(ui): Complete TASK-017 (Bill View / List View)
  TASKS.md
  issues.md
  src/App.tsx
  src/components/BillView.tsx
Due: prettier, eslint
