Repository teeesss/PlugItAll: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system
  pass_filenames: true

fix: CI test robustness (missing data), corrected SiriusXM frequency to Monthly
  PROJECT_STATUS.md
  README.md
  src/utils/analyzer.ts
  tests/baseline.json
  tests/baseline.test.ts
  tests/combined_data.test.ts
Due: prettier, eslint

feat: integrate 500+ subscription database with pricing and fallback URLs
  OVERVIEW.md
  PROJECT_STATUS.md
  QUICKSTART.md
  README.md
  TASKS.md
  index.html
  issues.md
  scripts/manual_merge.js
  scripts/migrate_master_data.cjs
  src/App.tsx
  src/data/subs.json
  src/data/subscription_pricing.json
  src/data/subscriptions_master.json
  src/data/subscriptions_master_sup_url.json
  src/utils/pdfGenerator.ts
  tests/baseline.json
  vite.config.ts
Due: prettier, eslint

docs: update documentation with subscription database integration details
  PROJECT_STATUS.md
  TASKS.md
  issues.md
Due: prettier

docs: add Subscription Database section to .cursorrules
  .cursorrules
Due: none

fix: add word boundary matching for short keywords to prevent false matches
  src/utils/analyzer.ts
  src/utils/matcher.ts
  tests/baseline.json
Due: prettier, eslint

fix: add DOMMatrix/Path2D polyfills for Node.js CI environment
  tests/setup.ts
  vitest.config.ts
Due: prettier, eslint

docs: add CI fixes to issues.md
  issues.md
Due: prettier

fix: update browser tab title to match product tagline
  .cursorrules
  OVERVIEW.md
  QUICKSTART.md
  README.md
  SAMPLE_DATA_README.md
  TASKS.md
  index.html
  issues.md
  package.json
  scripts/deploy.js
  src/utils/pdfGenerator.ts
Due: prettier, eslint

refactor: localize PDF worker, externalize blacklist, and enable cumulative uploads
  .cursorrules
  public/pdf.worker.min.mjs
  src/App.tsx
  src/data/blacklist.json
  src/utils/analyzer.ts
  src/utils/parser.ts
Due: prettier, eslint

feat: UI polish (PDF links, Tooltips, Modal history)
  src/App.tsx
  src/components/SubscriptionCard.tsx
  src/utils/pdfGenerator.ts
Due: prettier, eslint

feat: Signal Strength logic to fix false positives (WW)
  src/utils/analyzer.ts
  src/utils/matcher.ts
  tests/baseline.json
  tests/user_complaints.test.ts
Due: prettier, eslint

feat: PDF refinement and deployment logic
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix: PDF regeneration and deployment
  test_statement.csv
Due: none

fix: PDF download using explicit blob method for browser compatibility
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix: Revert pdfGenerator to working version + add PDF tests
  plug-it-all-report.pdf
  src/utils/pdfGenerator.ts
  tests/pdf_generator.test.ts
Due: prettier, eslint

fix: Restore pdfGenerator from stable commit 408a684
  plug-it-all-report.pdf
  src/utils/pdfGenerator.ts
Due: prettier, eslint

debug: Add comprehensive PDF debug logging
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix: Robust PDF download with forceDownload method
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix: Revert to doc.save() - blob URL blocked by browser
  plug-it-all-report.pdf
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix: robust PDF download and intelligent deployment sync
  .cursorrules
  scripts/deploy.js
  src/utils/pdfGenerator.ts
  test_statement.csv
  tests/pdf_generator.test.ts
Due: prettier, eslint

docs: update Project Status, Tasks, and Lessons Learned for PDF fix and Deployment optimization
  .cursorrules
  PROJECT_STATUS.md
  TASKS.md
  issues.md
Due: prettier

docs: update stats and roadmap alignment
  OVERVIEW.md
  README.md
Due: prettier

chore: add critical warning to pdfGenerator to prevent regression
  src/utils/pdfGenerator.ts
Due: prettier, eslint

feat: enhance PDF report with split tables, dynamic links, and confidence legend
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix(pdf): remove debug header and reduce legend spacing
  src/utils/pdfGenerator.ts
Due: prettier, eslint

chore: update UI footer version to v1.1.2
  src/App.tsx
Due: prettier, eslint

fix(pdf): increase spacing above Verified table
  src/utils/pdfGenerator.ts
Due: prettier, eslint

fix(ui): use unique ID for hiding subscriptions (fixes collateral hide)
  src/App.tsx
  src/components/SubscriptionCard.tsx
  src/utils/analyzer.ts
Due: prettier, eslint

fix(ui): remove legacy name-based hiding to fix invisible items
  src/App.tsx
Due: prettier, eslint

test: add e2e dismiss tests and SiriusXM reproduction tests
  plug-it-all-report.pdf
  test_sirius.csv
  tests/dismissal.test.ts
  tests/dismissal_sirius.test.ts
  tests/e2e_dismiss.test.ts
Due: prettier, eslint

fix: granular subscription hiding by unique ID (name+amount)
  plug-it-all-report.pdf
  src/App.tsx
  tests/core_logic.test.ts
  tests/dismissal.test.ts
  tests/dismissal_sirius.test.ts
  tests/e2e_dismiss.test.ts
  tests/matcher.test.ts
  tests/pdf_generator.test.ts
Due: prettier, eslint

docs: update issues.md, TASKS.md, .cursorrules with granular hiding fix
  .cursorrules
  TASKS.md
  issues.md
Due: prettier

docs: complete /update workflow - update all project markdown files
  OVERVIEW.md
  PROJECT_STATUS.md
  QUICKSTART.md
  project_overview.md
Due: prettier

docs: add Transaction Explorer roadmap (6 phases, 30+ tasks)
  ROADMAP_TRANSACTION_EXPLORER.md
  TASKS.md
Due: prettier

feat: Transaction Explorer Phase 1 - search bar, overlay panel, filters (TASK-060 to TASK-068)
  plug-it-all-report.pdf
  src/App.tsx
  src/components/TransactionExplorer.tsx
  src/components/TransactionSearch.tsx
Due: prettier, eslint

docs: mark Transaction Explorer Phase 1 complete, add Phase 2 tasks
  TASKS.md
Due: prettier

docs: update all URLs from bmwseals.com to plugitall.com
  PROJECT_STATUS.md
  SAMPLE_DATA_README.md
  project_overview.json
Due: prettier

fix: Transaction Explorer bugs - wildcard support, default 'both' filter, min 1 char search + 16 new tests
  plug-it-all-report.pdf
  src/components/TransactionExplorer.tsx
  src/components/TransactionSearch.tsx
  tests/transaction_explorer.test.ts
Due: prettier, eslint

docs: add TASK-074 - Exclude credits/refunds from subscription detection (P1)
  TASKS.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
  eslint: any of: \.(js|jsx|ts|tsx)$
